/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
public/img/
public/upload/
public/vendor/
storage/
.sonar/
.htaccess
app/Http/Controllers/AppBaseController.php
config/infyom/
config/repository.php
config/swaggervel.php
npm-shrinkwrap.json
resources/views/vendor/flash/
resources/views/vendor/swaggervel/
tests/ApiTestTrait.php